.show
  .default-container
    .container
      .name
        .name__my-name
          SHINO MITSUDA
      .text
        I'm a fledgling　engineer
        .text__content
          大阪府出身。メイクや容姿で悩んでいる方の手助けをしたい一心で専門学校を卒業し、メイクアップの仕事に就く。
          %br
          マネージメント職やメイクアップアーティスト職を経て、もっと多くの方の悩みを解決できないか？と模索する中、プログラミングに出会う。
          %br
          新しいサービスを作ればもっと多くの人の役に立てると思い立ち、プログラミングスクールの門を叩く。
          %br
          プログラミングは自身の夢を叶える手段だと確信し、日々腕を磨く。
      .skill
        Skills
        %br
        %span.skill-content
          HTML/haml/CSS/SCSS/javascript/jquery/Ruby/MySQL/Github/PHP
        %span.skill-other
          learns other skill !
      .passion
        .design
          Color/Design
          .design__text
            A・F・T色彩検定2級取得。
            %br
            3歳から絵画を学び、色彩に興味を持つ。
            %br
            あらゆる色は見る人に影響を与えており、デザインに及ぼす影響も大きい。
            %br
        .programming
          Programming
          .programming__text
            
        .travel
          Travel
          .travel__text
            世界全ヶ国制覇を目指す。
            %br
            日本は34都道府県、海外は８ヶ国。
            %br
            未踏の地を減らすことに人生をかける！
      .contact
        = link_to "Please Message", '#', id: 'email'



